.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px; 
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: right 0.5s; 
}

body.showCart .cartTab {
    right: 0; 
}

body.showCart .container {
    transform: translateX(-250px); 
}
