/* Override Bootstrap's primary color */
.navbar-tea {
    background-color: #273d4f;
}

.fire-text {
    color: #fff5f1; /* Color of fire text */
}
.fire-text:hover{
    color: #cb4c46;
}
.Big-Stuff {
    color: #fff5f1; /* Color of active page */
    font-size: 25px;
}
.Big-Stuff:hover{
    color: #cb4c46;
}
.active-home {
    color:#6fb89c ;
}
.active-home:hover {
    color: #cb4c46;
}


.header-bg {
    background-image: url("webroot/img/momo_background.jpg"); /* Add the file extension ".jpg" */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-title {
    color: #fff5f1;
    font-size: 36px;
    margin-bottom: 20px;
    /* Add text shadow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Add text stroke */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}
.header-text {
    color: #fff5f1;
    font-size: 18px;
    margin-bottom: 20px;
    /* Add text shadow */
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-primary {
    background-color:#6fb89c; /* Default button color */
    border-color: #6fb89c;
    color: #273d4f;
}

.button-primary:hover {
    background-color: #cb4c46; /* Button color on hover */
    border-color: #cb4c46;
}



/* Override Bootstrap's primary color and gradient */
.custom-bg {
    background-color: #273d4f; /* Your desired background color */
}
.feature-text{
    color: #fff5f1;
}
.custom-icon-bg {
    background-color: #6fb89c; /* Your desired background color */
}
.menu-link {
    color: #6fb89c; /* Base color */
    text-decoration: none;
}

.menu-link:hover {
    color: #cb4c46; /* Color on hover */
}
