body {
    background-color: #cb4c46; /* Đặt màu nền cho toàn bộ trang */
}

.container {
    width: 80%; /* Căn giữa phần nội dung */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Đặt màu nền cho phần nội dung */
    border-radius: 10px; /* Bo tròn góc của phần nội dung */
}
